<header>
  <div class="content">
    <div class="logo">
      <a routerLink="/">
        <img src="https://logopond.com/logos/205ed5f71e5c69a164db5780b3bcba41.png" alt="">
        <h3>Kosmoslots</h3>
      </a>
    </div>

    <nav>
      <ul>
        <li>
          <a routerLink="/">Игры</a>
        </li>
        <li>
          <a routerLink="/">Казино</a>
        </li>
        <li>
          <a routerLink="/">Производители</a>
        </li>
        <li>
          <a routerLink="/">Бонусы</a>
        </li>
      </ul>
    </nav>
    <div class="right_btns">
      <a href="№">Депозит</a>
    </div>
  </div>
</header>